@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-element.animate {
    opacity: 1;
    transform: translateY(0);
}

.project-title {
    text-shadow: rgba(81, 67, 21, 0.8) 3px 4px 7px;
}

.project-description {
    text-shadow: rgba(81, 67, 21, 0.8) 1px 1px 7px;
}

.project-figure {
    overflow: hidden;
}

.project-img {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  max-width: 100%;

}

.icons {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.date-badge {
    font-size: var(--fs-100);
    color: rgba(255, 255, 255, 1.2);
    font-weight: var(--fw-semi-bold);
    background-color: rgba(78, 186, 191, 0.9);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 7px;
    padding: 7px;
    white-space: nowrap;
    height: 28px;
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
}

.source-icon {
    transition: filter 0.3s ease;
  }
  
  .source-icon:hover {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(145deg); /* Adjust the filter to match paradiso-200 color */
  }

.card-shadow {
    box-shadow: rgba(78,186,191,.1) 0 0 2px,rgba(78,186,191,.3) 4px 5px 0,rgba(78,186,191,.2) 7px 11px 0,rgba(78,186,191,.1) 12px 17px 0,rgba(78,186,191,.05) 17px 23px 0;
}

.section-heading {
    text-shadow: rgba(78,186,191,.1) 0 0 2px,rgba(78,186,191,.3) 4px 5px 0,rgba(78,186,191,.2) 7px 11px 0,rgba(78,186,191,.1) 12px 17px 0,rgba(78,186,191,.05) 17px 23px 0;
    @apply text-6xl font-bold text-white;
}

.sections {
    @apply bg-paradiso-500 w-full min-h-full justify-center items-center flex flex-col;
}

.nodejs {
    background-color: rgba(135, 201, 41, 0.8);
}

.express {
    background-color: rgba(33, 37, 41, 0.8);
}

.html {
    background-color: rgba(42, 147, 201, 0.8);
}

.css {
    background-color: rgba(231, 80, 40, 0.8);
}

.javascript {
    background-color: rgba(245, 208, 50, 0.8);
}

.sqlite {
    background-color: rgba(11, 125, 203, 0.8);
}
